body{
    background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/musicians.jpg");
      background-size: cover;
      background-position: center center
      ;
    font-family: 'Orelega One', cursive;
}

.top-area{
    /* border:10px solid whitesmoke; */
    text-align: center;
    padding: 5px 0;
    }
    
    .top-size{
    font-size: 40px;
    color: white;
    }
    
    button{
    width:70px;
    height: 60px; 
    }
    
    .singer-table{
    width: 100%;
    }
    
    .singer-table td{
    padding: 5px 10px;
    font-family: 'Orelega One', cursive;
    text-align: center;
    color: white;
    }
    
    .singer-pic{
        width:70px;
        border:3px solid white;
    }
    
    .name-size{
        width:300px;
        font-size: 35px;
    }
    
    .name-size:hover{
        font-size: 25px;
        background-color:gray ;
        color:white;
    }
    
    .quality-icon{
        width:60px;
        border-radius: 60px;
    }
    .g-scope{
        color: white;
    }
    
    .quality-icon:hover {
        width:50px;
    }
