body{
  background-color: white;
  /* background-image: -webkit-linear-gradient(
      rgba(2, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./images/search.jpg"); */
    background-image: url("./images/search.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Orelega One', cursive;
}
.ng-binding{
  color: white;
}


img{
  width: 80px;
  border: 3px solid gray;
  animation: allImages 5s;
  opacity: 0.4;

}

img:hover{ 
  animation: selectedImage 3s infinite;
  opacity:1.0;
}  
input{
  height: 70px;
  width: 300px;
  font-size: 40px;
  padding: 0px 20px;
  color:black;
}

span{
  padding: 0px 6px;
  font-size: 30px;

}
.bottom-line{
  position: absolute;
  bottom:0px;
  font-size: 25px;
  padding: 5px ;

}

@keyframes allImages {
  0% { opacity: 1.0; }
  100% { opacity: 0.4; }
}

@keyframes selectedImage {
  0% { background-color: grey; }
  50% { background-color: orange; }
  100% { background-color: yellow; }
}
h1{
  color: white;
  text-align: center;
}