button{
    width: 200px;
    font-family: 'Orelega One', cursive;
}
.big{
    width: 200px;
  
}
body{
    background-color: grey;
}
table{
    margin:auto;
}
h1{
    text-align: center;
    font-family: 'Orelega One', cursive;
    color: white;
}