.click-these-area{
  width: 200px;
  border: 5px solid whitesmoke;
}
.click-these-area:hover{
  opacity: 0.8;
}
.click-these-area{
  color: white;
}

.green-top{
  background-color: cadetblue;
  color: white;
  padding: 3px 25px;
}

.highlight:hover {
  opacity: 0.5;
  font-size: 20px;
  cursor: copy;

}
.it-goes-here-area{
  width: 200px;
  border: 5px solid red;
  position: absolute;
  right: 0px;
  bottom: 30px;
}

.red-top{
  background-color: red;
  color: white;
  padding: 3px 25px;
}
body{
  background-color: white;
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./images/search.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Orelega One', cursive;
}
h1{
  color: white;
  text-align: center;
}
hr{
  color: white;
}