body{
    background-color: white;
    background-image: -webkit-linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/shopping2.jpg");
  
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Orelega One', cursive;
}
table{
    width: 400px;
}
h1{
    font-family: 'Orelega One', cursive;
    font-size: 3.5rem;
    font-weight: 400;
    color: white;
    text-align: center;
}
h3{
    color: white;
}
h4{
    color: white;
}
tr:hover{
    background-color: seagreen;
    color: white;
}
td{
    width: 50px;
    font-size: 1.8rem;
    border: 3px solid white;
    text-align: center;
    padding: 5px 10px;
    color: white;
}
input{
    font-size: 1.8rem;
    width: 200px;
    color: seagreen;
    padding: 5px;
}
button{
    width: 70px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    flex-direction: row;
}
.me{
    margin: 100px auto;
}
.clickIt{
    text-align: center;
}